{extend name="common_view/template/base" /}
{block name="title"}
{:lang('menuList')['editTitle']}
{/block}
{block name="style"}
<style>
    .layui-form-select dl {
        max-height: 200px;
    }
</style>
{/block}
{block name="body"}
<div id="obj">
    <form id="form" style="padding: 15px">
        <input type="hidden" id="nodeId" value="{$nodeId}">
        {include file="common_view/form"}
    </form>
</div>
{/block}
{block name="script"}
<script>
    const msg = {$msg | raw};
</script>
<script src="__JS__/index/config/menuEdit.js"></script>
{/block}