{extend name="common_view/template/base" /}
{block name="title"}
{if $id eq 0}
  {:lang('pj_database_list')['add_title']}
{else /} 
  {if $funType eq 1}
    {:lang('pj_database_list')['edit_title']}
  {else /}
    {:lang('pj_database_list')['copy_title']}
  {/if}
{/if}
{/block}
{block name="body"}
<div id="obj">
    <div class="layui-form" lay-filter="layuiadmin-form-admin" id="layuiadmin-form-admin" style="padding: 15px">
        <input type="hidden" id="id" value="{$id}">
        <input type="hidden" id="funType" value="{$funType}">
        {include file="common_view/form"}
    </div>
</div>
{/block}
{block name="script"}
<script>
  const msg         = {$msg | raw};
</script>
<script src="__JS__/index/config/pjDatabaseListEdit.js"></script>
{/block}