<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{:lang('login')['title']}</title>
    <meta content="webkit" name="renderer">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <link href="__LAYUI__/layui/css/layui.css" media="all" rel="stylesheet">
    <link href="__LAYUI__/style/admin.css" media="all" rel="stylesheet">
    <link href="__LAYUI__/style/login.css" media="all" rel="stylesheet">
</head>
<body>
<div class="layadmin-user-login layadmin-user-display-show" style="display: none;">
    <div class="layadmin-user-login-main">
        <div class="layadmin-user-login-box layadmin-user-login-header">
            <h2>{:lang('login')['title']}</h2>
            <p>{:lang('login')['hint']}</p>
        </div>
        <form class="layadmin-user-login-box layadmin-user-login-body layui-form" id="form">
            <div class="layui-form-item">
                <label class="layadmin-user-login-icon layui-icon layui-icon-username"></label>
                <input class="layui-input"  lay-verify="required" id="userName" name="userName" placeholder="{:lang('login')['input']['user_name']}" type="text" autocomplete="off">
            </div>
            <div class="layui-form-item">
                <label class="layadmin-user-login-icon layui-icon layui-icon-password" ></label>
                <input class="layui-input" lay-verify="required|password" id="password" name="password" placeholder="{:lang('login')['input']['password']}" type="password" autocomplete="off">
            </div>
            <div class="layui-form-item">
                <div class="layui-row">
                    <div class="layui-col-xs6">
                        <label class="layadmin-user-login-icon layui-icon layui-icon-vercode"></label>
                        <input class="layui-input" lay-verify="required" name="vercode" id="vercode" placeholder="{:lang('login')['input']['vercode']}" type="text" autocomplete="off">
                    </div>
                    <div class="layui-col-xs6">
                        <div style="margin-left: 10px;">
                            <img class="layadmin-user-login-codeimg" onclick="randomCode()" src="{:url('/login/Login/verify')}" id="captcha" alt="captcha" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <button class="layui-btn layui-btn-fluid" lay-submit type="button" lay-filter="button">{:lang('login')['btu']['login_btu']}</button>
            </div>
        </form>
    </div>
</div>
<script>
    const errorListJson = {$errorListJson | raw};
</script>
<script src="__JS__/common/jquery.min.js"></script>
<script src="__LAYUI__/layui/layui.all.js"></script>
<script src="__JS__/common/common.js"></script>
<script src="__JS__/common/md5.js"></script>
<script src="__JS__/login/login.js"></script>
</body>
</html>
