<div class="layui-form-item">
    <label class="layui-form-label">URL</label>
    <div class="layui-input-block" style="display: inline-block;width: 25%;margin-left: 0;">
        <input type="text" id="modular" name="modular" value="{$urlView[1]}" lay-verify="required" autocomplete="off" class="layui-input">
    </div>
    /
    <div class="layui-input-block"  style="display: inline-block;width: 25%;margin-left: 0;">
        <input type="text" id="controller" name="controller" value="{$urlView[2]}" lay-verify="required" autocomplete="off" class="layui-input">
    </div>
    /
    <div class="layui-input-block"  style="display: inline-block;width: 25%;margin-left: 0;">
        <input type="text" id="action" name="action" value="{$urlView[3]}" lay-verify="required" autocomplete="off" class="layui-input">
    </div>
    .html
</div>
<hr>