{present name="$form"}
    {foreach $form as $key => $val }
        {switch $val[0]}
            {case form_passwordView}
                <!-- 状态 -->
                {include file="common_view/form/password" }
                <!-- 状态结束 -->
            {/case}
            {case form_statusView}
                <!-- 状态 -->
                {include file="common_view/form/status" }
                <!-- 状态结束 -->
            {/case}
            {case form_urlView}
                <!-- 状态 -->
                {include file="common_view/form/url" }
                <!-- 状态结束 -->
            {/case}
            {case form_roleView}
                <!-- 状态 -->
                {include file="common_view/form/role" }
                <!-- 状态结束 -->
            {/case}
            {case select}
                <!-- 下拉框开始 -->
                {include file="common_view/form/select" }
                <!-- 下拉框结束 -->
            {/case}
            {case input}
                <!-- 输入框开始 -->
                {include file="common_view/form/input" }
                <!-- 输入框结束 -->
            {/case}
            {case textarea}
                <!-- 文本框开始 -->
                {include file="common_view/form/textarea" }
                <!-- 文本框结束 -->
            {/case}
            {case form_environView}
                <!-- 环境类型 -->
                {include file="common_view/form/environ" }
                <!-- 环境类型结束 -->
            {/case}
        {/switch}
    {/foreach}
{/present}